.list-view .mailbox-attachments .item {
    border: 4px solid #eee;
    border-radius: 4px !important;
}

.list-view .mailbox-attachments .active {
    border: 4px solid #16467b;
    border-radius: 4px !important;
}

.modal-media-frame, .modal-media-frame .pagination {
    margin-bottom: -5px;
}

.pagination {
    display: block;
    margin-top: 10px;
}

.media-details .dashboard {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0 !important;
}

.media-details .dashboard .loading {
    margin-top: 50px;
    font-size: 5em;
    color: #36517b;
    text-align: center;
}

#uploadmanager {
    padding: 0 15px 0 0;
}

#uploadmanager .progress {
    margin-top: 0;
}

#fileinfo img {
    float: left;
    max-width: 128px;
}

#fileinfo .detail {
    float: left;
    margin: 0 0 0 10px;
    padding: 0;
    list-style: none;
    font-size: .85em;
}

#fileinfo .filename {
    clear: both;
    margin-bottom: 5px;
}

#fileinfo #control-form .form-group {
    margin-bottom: 0;
}

#fileinfo #control-form .control-label {
    margin-bottom: 0;
    font-size: .9em;
    font-weight: bold;
}

#fileinfo #control-form textarea {
    max-width: 100%;
}

.spin {
    -webkit-animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    -o-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    /* IE 9 */
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
