html,
body {
    height: 100%;
}



#wrapper {
    width: 100%;
}

#page-wrapper {
    min-height: 568px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.content-header > h1 > small {
    padding-right: 6px !important;
}

.content {
    padding-top: 13px !important;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.grid-view th {
    white-space: nowrap;
}

.page-title {
    margin-top: 0 !important;
    /*padding-top: 5px;*/
    float: left;
    display: inline-block;
    margin-right: 15px;
}

a:focus {
    outline: none !important;
}

.panel-default {
    box-shadow: none !important;
}
/*
.grid-view thead tr.filters td {
    padding-bottom: 15px !important;
}
*/
.grid-view tbody tr td {
    height: 60px;
}

.m-tb-20 {
    margin: 0 0;
}

.date-filter-input {
    margin-left: 35px;
    width: 97px !important;
}

.grid-view tbody tr .quick-actions {
    display: none;
    margin-top: -15px;
}

.grid-view .action-title {
    display: inline-block;
    padding-bottom: 20px;
}

.grid-view tbody tr:hover .quick-actions {
    display: block;
}

.action-title a:hover, a:focus div{
    text-decoration: underline;
}

.quick-actions a:hover, a:focus div{
    text-decoration: underline;
}

.quick-actions {
    font-size: 0.9em;
    margin-top: 0px;
    margin-bottom: 0px;
}


.grid-view .table > thead > tr > th {
    border-bottom: 1px solid #ddd;
}

.quick-actions a {
    padding-right: 5px;
}

.quick-actions a:before {
    content: '';
    border-left: 1px solid silver;
    padding-left: 5px;
}

.quick-actions a:first-child:before {
    content: none;
}

.record-info .form-group {
    margin-bottom: 5px;
}

.record-info .form-group .btn {
    width: 48%;
}

.record-info .form-group .btn-file-input {
    width: 100% !important;
}

.ui-datepicker {
    z-index: 999 !important;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #F9F9F9 !important;
}

.dot-left:before, .dot-right:after {
    content: "\2022";
    display: inline-block;
    margin: 0 5px;
}

.fa-font-family {
    font-family: 'FontAwesome';
}

.navbar-brand b {
    font-size: 1.1em
}
.navbar-brand .yee-logo {
    margin: -5px 5px 0 0;
    float:left;
    opacity: 0.9;
}
.navbar-brand:hover .yee-logo {
    opacity: 1;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

body > .header .logo {
    font-family: inherit;
}
body > .header .navbar .nav > li > a > .badge {
    position: absolute;
    top: 4px;
    right: 0;
    font-size: 75%;
}
body .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon,
body .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa,
body .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion {
    background: none;
    color: inherit;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #333c47  !important;
    outline: 0;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p {
    z-index: 5;
    color: #fff  !important;
    font-size: 17px;
    margin-top: 10px;
}

body .user-panel > .info {
    padding-left: 10px;
}
body .table {
    word-break: break-all;
}

#external-events p input[type="checkbox"]{
    margin: 0;
}

.form-horizontal.tasi-form .checkbox-inline > input {
    margin-top: 1px;
    border:none;
}

.checkbox, .checkbox:hover, .checkbox:focus  {
    border:none;
}
.has-switch input[type=checkbox] {
    display: none;
}


.checkboxes label, .radios label {
    display: block;
    cursor: pointer;
    line-height: 20px;
    padding-bottom: 7px;
    font-weight: 300;
}

.radios {
    padding-top: 18px;
}


#sortable li input[type=checkbox]{
    margin-top: 0;
}

.radio-list  label,
.checkbox-list label{
    display: inline-block;
    width: 100%;
    font-weight: normal;
}

.radio-list .radio,
.radio-list .radio span,
.radio-list .radio input {
    width: 18px;
    height: 18px;
    float: left;
    margin: 0 10px 0 0;
}

.checkbox-list .checker span {
    float: left;
    margin-right: 10px;
}

.divider {
    height: 1px;
    width:100%;
    display:block; /* for use on default inline elements like span */
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.alert {
    margin-bottom: 4px !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
    padding-right: 0;
    height: auto;
    margin-top: 0 !important;
}

.input-group-addon {
    padding: 6px 12px !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 1 !important;
    color: #555 !important;
    text-align: center !important;
    background-color: #eee !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
}

.alert {
    padding: 15px !important;
    margin-bottom: 20px !important;
    border: 1px solid transparent !important;
    border-radius: 4px !important;
}
.alert h4 {
    margin-top: 0 !important;
    color: inherit !important;
}
.alert .alert-link {
    font-weight: 700 !important;
}
.alert>p, .alert>ul {
    margin-bottom: 0 !important;
}
.alert>p+p {
    margin-top: 5px !important;
}
.alert-dismissable, .alert-dismissible {
    padding-right: 35px !important;
}
.alert-dismissable .close, .alert-dismissible .close {
    position: relative !important;
    top: -2px !important;
    right: -21px !important;
    color: inherit !important;
}
.alert-success {
    color: #3c763d !important;
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
}
.alert-success hr {
    border-top-color: #c9e2b3 !important;
}
.alert-success .alert-link {
    color: #2b542c !important;
}
/*.alert-info {
    color: #31708f !important;
    background-color: #d9edf7 !important;
    border-color: #bce8f1 !important;
}*/
.alert-info hr {
    border-top-color: #a6e1ec !important;
}
.alert-info .alert-link {
    color: #245269 !important;
}
.alert-warning {
    color: #8a6d3b !important;
    background-color: #fcf8e3 !important;
    border-color: #faebcc !important;
}
.alert-warning hr {
    border-top-color: #f7e1b5 !important;
}
.alert-warning .alert-link {
    color: #66512c !important;
}
.alert-danger {
    color: #a94442 !important;
    background-color: #f2dede !important;
    border-color: #ebccd1 !important;
}
.alert-danger hr {
    border-top-color: #e4b9c0 !important;
}
.alert-danger .alert-link {
    color: #843534 !important;
}
.has-success .checkbox, .has-success .checkbox-inline, .has-success .control-label, .has-success .help-block, .has-success .radio, .has-success .radio-inline, .has-success.checkbox label, .has-success.checkbox-inline label, .has-success.radio label, .has-success.radio-inline label {
    color: #3c763d !important;
}
.has-success .form-control {
    border-color: #3c763d !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
}
.has-success .form-control:focus {
    border-color: #2b542c !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168 !important;
}
.has-success .input-group-addon {
    color: #3c763d !important;
    background-color: #dff0d8 !important;
    border-color: #3c763d !important;
}
.has-success .form-control-feedback {
    color: #3c763d !important;
}
.has-warning .checkbox, .has-warning .checkbox-inline, .has-warning .control-label, .has-warning .help-block, .has-warning .radio, .has-warning .radio-inline, .has-warning.checkbox label, .has-warning.checkbox-inline label, .has-warning.radio label, .has-warning.radio-inline label {
    color: #8a6d3b !important;
}
.has-warning .form-control {
    border-color: #8a6d3b !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
}
.has-warning .form-control:focus {
    border-color: #66512c !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b !important;
}
.has-warning .input-group-addon {
    color: #8a6d3b !important;
    background-color: #fcf8e3 !important;
    border-color: #8a6d3b !important;
}
.has-warning .form-control-feedback {
    color: #8a6d3b !important;
}
.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
    color: #a94442 !important;
}
.has-error .form-control {
    border-color: #a94442 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
}
.has-error .form-control:focus {
    border-color: #843534 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483 !important;
}
.has-error .input-group-addon {
    color: #a94442 !important;
    background-color: #f2dede !important;
    border-color: #a94442 !important;
}
.has-error .form-control-feedback {
    color: #a94442 !important;
}
.has-feedback label~.form-control-feedback {
    top: 27px !important;
}
.has-feedback label.sr-only~.form-control-feedback {
    top: 0 !important;
}
.help-block {
    display: block !important;
    margin-top: 5px !important;
    margin-bottom: 10px !important;
    color: #737373 !important;
}

.form-control {
    color: #555 !important;
    background-color: #fff !important;
    background-image: none !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s !important;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
}
.form-control:focus {
    border-color: #66afe9 !important;
    outline: 0 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6) !important;
}

.input-group .form-control:not(:first-child):not(:last-child),
.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child) {
    border-radius: 0 !important;
}

.input-group-addon, .input-group-btn {
    width: 1% !important;
    white-space: nowrap !important;
    vertical-align: middle !important;
}
.input-group-addon.input-sm {
    padding: 5px 10px !important;
    font-size: 12px !important;
    border-radius: 3px !important;
}
.input-group-addon.input-lg {
    padding: 10px 16px !important;
    font-size: 18px !important;
    border-radius: 6px !important;
}
.input-group-addon input[type=checkbox], .input-group-addon input[type=radio] {
    margin-top: 0 !important;
}

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child>.btn,
.input-group-btn:first-child>.btn-group>.btn,
.input-group-btn:first-child>.dropdown-toggle,
.input-group-btn:last-child>.btn-group:not(:last-child)>.btn,
.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.input-group-addon:first-child {
    border-right: 0 !important;
}
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:first-child>.btn-group:not(:first-child)>.btn,
.input-group-btn:first-child>.btn:not(:first-child),
.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group>.btn,
.input-group-btn:last-child>.dropdown-toggle {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.input-group-addon:last-child {
    border-left: 0 !important;
}
.input-group-btn {
    position: relative !important;
    font-size: 0 !important;
    white-space: nowrap !important;
}
.input-group-btn>.btn {
    position: relative !important;
}
.input-group-btn>.btn+.btn {
    margin-left: -1px !important;
}
.input-group-btn>.btn:active, .input-group-btn>.btn:focus, .input-group-btn>.btn:hover {
    z-index: 2 !important;
}
.input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group {
    margin-right: -1px !important;
}
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -1px !important;
}
body .ui-tooltip {
    display: none !important;
}