/*
 * Skin: Frontend
 * ----------
 */
.skin-frontend .main-header .navbar {
    background-color: #4998B4;
}
.skin-frontend .main-header .navbar .nav > li > a {
    color: #ffffff;
}
.skin-frontend .main-header .navbar .nav > li > a:hover,
.skin-frontend .main-header .navbar .nav > li > a:active,
.skin-frontend .main-header .navbar .nav > li > a:focus,
.skin-frontend .main-header .navbar .nav .open > a,
.skin-frontend .main-header .navbar .nav .open > a:hover,
.skin-frontend .main-header .navbar .nav .open > a:focus,
.skin-frontend .main-header .navbar .nav > .active > a {
    background: rgba(0, 0, 0, 0.1);
    color: #f6f6f6;
}
.skin-frontend .main-header .navbar .sidebar-toggle {
    color: #ffffff;
}
.skin-frontend .main-header .navbar .sidebar-toggle:hover {
    color: #f6f6f6;
    background: rgba(0, 0, 0, 0.1);
}
.skin-frontend .main-header .navbar .sidebar-toggle {
    color: #fff;
}
.skin-frontend .main-header .navbar .sidebar-toggle:hover {
    background-color: #24272d;
}
@media (max-width: 767px) {
    .skin-frontend .main-header .navbar .dropdown-menu li.divider {
        background-color: rgba(255, 255, 255, 0.1);
    }
    .skin-frontend .main-header .navbar .dropdown-menu li a {
        color: #fff;
    }
    .skin-frontend .main-header .navbar .dropdown-menu li a:hover {
        background: #4998B4;
    }
}
.skin-frontend .main-header .logo {
    background-color: #4998B4;
    color: #ffffff;
    border-bottom: 0 solid transparent;
}
.skin-frontend .main-header .logo:hover {
    background-color: #24272d;
}
.skin-frontend .main-header li.user-header {
    background-color: #4998B4;
}
.skin-frontend .content-header {
    background: transparent;
}
.skin-frontend .wrapper,
.skin-frontend .main-sidebar,
.skin-frontend .left-side {
    background-color: #2B333D;
}
.skin-frontend .user-panel > .info,
.skin-frontend .user-panel > .info > a {
    color: #fff;
}
.skin-frontend .sidebar-menu > li.header {
    color: #fff;
    background: #4998B4;
}
.skin-frontend .sidebar-menu > li > a {
    border-left: 3px solid transparent;
}
.skin-frontend .sidebar-menu > li:hover > a,
.skin-frontend .sidebar-menu > li.active > a {
    color: #ffffff;
    background: #24272d;
    border-left-color: #4998B5;
}
.skin-frontend .sidebar-menu > li > .treeview-menu {
    margin: 0 1px;
    background: #24272d;
}
.skin-frontend .sidebar a {
    color: #b8c7ce;
}
.skin-frontend .sidebar a:hover {
    text-decoration: none;
}
.skin-frontend .treeview-menu > li > a {
    color: #8aa4af;
}
.skin-frontend .treeview-menu > li.active > a,
.skin-frontend .treeview-menu > li > a:hover {
    color: #ffffff;
}
.skin-frontend .sidebar-form {
    border-radius: 3px;
    border: 1px solid #374850;
    margin: 10px 10px;
}
.skin-frontend .sidebar-form input[type="text"],
.skin-frontend .sidebar-form .btn {
    box-shadow: none;
    background-color: #374850;
    border: 1px solid transparent;
    height: 35px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.skin-frontend .sidebar-form input[type="text"] {
    color: #666;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
}
.skin-frontend .sidebar-form input[type="text"]:focus,
.skin-frontend .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    background-color: #fff;
    color: #666;
}
.skin-frontend .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    border-left-color: #fff;
}
.skin-frontend .sidebar-form .btn {
    color: #999;
    border-top-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0;
}
.skin-frontend.layout-top-nav .main-header > .logo {
    background-color: #4998B4;
    color: #ffffff;
    border-bottom: 0 solid transparent;
}
.skin-frontend.layout-top-nav .main-header > .logo:hover {
    background-color: #24272d;
}
