html,
body {
    height: 100%;
}

#wrapper {
    width: 100%;
}

#page-wrapper {
    min-height: 568px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.breadcrumb {
    margin-top: 15px;
    margin-bottom: 10px;
    border: 1px solid #DDDDDD;
    color: #fff0f0;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.grid-view th {
    white-space: nowrap;
}

.page-title {
    margin-top: 0 !important;
    /*padding-top: 5px;*/
    float: left;
    display: inline-block;
    margin-right: 15px;
}

a:focus {
    outline: none !important;
}

.panel-default {
    box-shadow: none !important;
}

.grid-view thead tr.filters td {
    padding-bottom: 15px !important;
}

.grid-view tbody tr td {
    height: 60px;
}

.m-tb-20 {
    margin: 20px 0;
}

.date-filter-input {
    margin-left: 35px;
    width: 97px !important;
}

.grid-view tbody tr .quick-actions {
    display: none;
    margin-top: -15px;
}

.grid-view .action-title {
    display: inline-block;
    padding-bottom: 20px;
}

.grid-view tbody tr:hover .quick-actions {
    display: block;
}

.action-title a:hover, a:focus div{
    text-decoration: underline;
}

.quick-actions a:hover, a:focus div{
    text-decoration: underline;
}

.quick-actions {
    font-size: 0.9em;
    margin-top: 0px;
    margin-bottom: 0px;
}


.grid-view .table > thead > tr > th {
    border-bottom: 1px solid #ddd;
}

.quick-actions a {
    padding-right: 5px;
}

.quick-actions a:before {
    content: '';
    border-left: 1px solid silver;
    padding-left: 5px;
}

.quick-actions a:first-child:before {
    content: none;
}

.record-info .form-group {
    margin-bottom: 5px;
}

.record-info .form-group .btn {
    width: 48%;
}

.record-info .form-group .btn-file-input {
    width: 100% !important;
}

.ui-datepicker {
    z-index: 999 !important;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #F9F9F9 !important;
}

.dot-left:before, .dot-right:after {
    content: "\2022";
    display: inline-block;
    margin: 0 5px;
}

.fa-font-family {
    font-family: 'FontAwesome';
}

.navbar-brand b {
    font-size: 1.1em
}
.navbar-brand .yee-logo {
    margin: -5px 5px 0 0;
    float:left;
    opacity: 0.9;
}
.navbar-brand:hover .yee-logo {
    opacity: 1;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

body > .header .logo {
    font-family: inherit;
}
body > .header .navbar .nav > li > a > .badge {
    position: absolute;
    top: 4px;
    right: 0;
    font-size: 75%;
}
body .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon,
body .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa,
body .navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion {
    background: none;
    color: inherit;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #333c47  !important;
    outline: 0;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p {
    z-index: 5;
    color: #fff  !important;
    font-size: 17px;
    margin-top: 10px;
}

body .user-panel > .info {
    padding-left: 10px;
}
body .table {
    word-break: break-all;
}

#external-events p input[type="checkbox"]{
    margin: 0;
}

.form-horizontal.tasi-form .checkbox-inline > input {
    margin-top: 1px;
    border:none;
}

.checkbox, .checkbox:hover, .checkbox:focus  {
    border:none;
}
.has-switch input[type=checkbox] {
    display: none;
}


.checkboxes label, .radios label {
    display: block;
    cursor: pointer;
    line-height: 20px;
    padding-bottom: 7px;
    font-weight: 300;
}

.radios {
    padding-top: 18px;
}


#sortable li input[type=checkbox]{
    margin-top: 0;
}

.radio-list  label,
.checkbox-list label{
    display: inline-block;
    width: 100%;
    font-weight: normal;
}

.radio-list .radio,
.radio-list .radio span,
.radio-list .radio input {
    width: 18px;
    height: 18px;
    float: left;
    margin: 0 10px 0 0;
}

.checkbox-list .checker span {
    float: left;
    margin-right: 10px;
}

.divider {
    height: 1px;
    width:100%;
    display:block; /* for use on default inline elements like span */
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.recent-comments .recent-comment {
    border-bottom: 1px solid #ddd !important;
    padding-bottom: 5px !important;
    margin-bottom: 5px !important;
    word-wrap: break-word !important;
}

.alert {
    margin-bottom: 4px !important;
}